.popup-box {
    visibility: hidden;
    position: fixed;
    z-index: 10;
    background-color: var(--grey);
    height: 200px;
    width: 400px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 0.2s, width 0.2s ;
}

.blur-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 9;
    pointer-events: none;
}

.popup-box.active {
    height: 800px;
    width: 1000px;
    display: block;
    visibility: visible;
}

.blur-overlay.active {
    display: block;
    visibility: visible;
}

.cross {
    min-width: 25px;
    max-width: 75px;
    width: 50px;
    opacity: 0.6;
    transition: opacity 0.1s ease-in
}

.cross:hover {
    cursor: pointer;
    opacity: 0.3
}



