html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* base colors for the webpage */

:root {
  --blue: rgb(146,199,237);
  --grey: rgb(128, 128, 128)
}

.text-color {
    color: white
}

/* Layout Formatting*/

.navbar-styles {
    z-index: 3;
    box-shadow: 0px 5px 15px 10px rgba(0,0,0,0.1);
    height: 75px;
    position: fixed;
    width: 100%;
}


.navbar-formatting {
    max-width: 1600px;
}


@media (max-width: 850px) {
    .d-flex.title-for-hiding {
        display: none;
        visibility: hidden
    }
}


/* Site Formatting */

@media (min-width: 1620px) {
    .section-width {
        max-width: 1600px;
        min-width: 250px;
        padding: 10px
    }

    .section-headers {
        padding: 10px;
        font-size: 90px;
        margin: 0px;
        margin-bottom: 70px
    }
}

@media (max-width: 1619px) {
    .section-width {
        max-width: 95%;
        min-width: 250px;
        padding: 10px
    }

    .section-headers {
        padding: 10px;
        font-size: 70px;
        margin: 0px;
        margin-bottom: 40px;
    }
}

@media (max-width: 800px) {

    .section-headers {
        padding: 10px;
        font-size: 60px;
        margin: 0px;
        margin-bottom: 40px;
    }
}

@media (max-width: 500px) {

    .section-headers {
        padding: 10px;
        font-size: 50px;
        margin: 0px;
        margin-bottom: 40px;
    }
}


/* Knowledge Section */

.knowledge-box-container {
    margin-bottom: 20px;
}

.knowledge-block {
    margin: 10px;
    padding: 10px;
    padding-bottom: 60px;
}

@media (min-width: 768px) {

    .bottom-border {
        border-bottom: solid 0px lightgray;
    }

    .middle-border {
        border-left: solid 1px lightgray;
        border-right: solid 1px lightgray;
    }
}

@media (max-width: 767px) {

    .bottom-border {
        border-bottom: solid 1px lightgray;
    }

    .middle-border {
        border-left: solid 0px lightgray;
        border-right: solid 0px lightgray;
    }
}





/* Project Section */
.margin-remover {
    margin-left: 0px;
    margin-right: 0px;
}

.row-formatting {
    max-height: 550px;
    row-gap: 20px;
}

.section {
    max-height: 500px;
}

.project-block-margins {
    margin-bottom: 100px;
}

@media (min-width: 1401px) {
    .project-block-formatting {
        min-height: 500px;
        
    }
}

@media (max-width: 1400px) {
    .project-block-formatting {
        min-height: 450px;
        
    }
}

@media (max-width: 767px) {
    .project-block-formatting {
        min-height: 800px;
    }
}

@media (max-width: 550px) {
    .project-block-formatting {
        min-height: 700px;
    }
}

@media (max-width: 425px) {
    .project-block-formatting {
        min-height: 650px;
    }
}

/* image css*/

.project-image-size:hover {
    cursor: pointer;
}

@media (min-width: 1401px) {
    .project-image-size {
        position: relative;
        max-width: 600px;
    }

    .bottom-image {
        z-index: 1;
        top: -250px;
        left: 25px;
        margin-right: 30px;
    }
}

@media (max-width: 1400px) {
    .project-image-size {
        position: relative;
        max-width: 500px;
    }

    .bottom-image {
        z-index: 1;
        top: -250px;
        left: 25px;
        margin-right: 30px;
    }

}

@media (max-width: 1150px) {
    .project-image-size {
        position: relative;
        max-width: 400px;
    }

    .bottom-image {
        z-index: 1;
        top: -150px;
        left: 25px;
        margin-right: 30px;
    }
}

@media (max-width: 990px) {

    .project-image-size {
        position: relative;
        max-width: 350px;
    }

    .bottom-image {
        z-index: 1;
        top: -50px;
        left: 0px;
        margin-right: 0px;
    }

}

@media (max-width: 767px) {

    .project-image-size {
        position: relative;
        max-width: 700px;
    }

    .bottom-image {
        display: none;
        visibility: hidden;
    }
}

.top-image {
    z-index: 2;
}


.image-styles {
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
}

.project-image-size .rotate-top,
.project-image-size .rotate-bottom {
    transition: transform 0.3s ease-in-out;
}

/*text css*/

@media (min-width: 701px) {
    

    .project-text-section-size {
        min-width: 200px;
        max-width: 700px;
    }
}

@media (max-width: 700px) {
    .project-text-section-size {
        min-width: 200px;
        max-width: 600px;
    }
}

.project-titles {
    margin-bottom: 20px;
    color: var(--grey)
}

.technology-titles {
    margin-bottom: 10px;
    color: var(--blue)
}

.project-text {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .col-md-1_5 {
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}

/* About Me Section*/

.button-section {
    background-color: red;
    min-height: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: 0px;
}

.button-styles {
    max-height: 100px;
    background-color: white;
    margin-bottom: 15px;
}

.button-styles:hover {
    background-color: var(--grey);
}

.button-styles:hover .about-me-text{
    color: white;
}

.about-me-text {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 25px;
    color: var(--grey);
}

@media (max-width: 1000px) {
    .about-me-text {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .about-me-text {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .button-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Contact Section */

.field,
.message { 
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}


.message {
    height: 300px;
    resize: none;
    width: 100%;
    overflow-y: auto;
}

.button {
    padding: 10px;
    background-color: var(--blue);
    color: white;
}