html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Layout Formatting*/

.navbar-styles {
    box-shadow: 0px 5px 15px 10px rgba(0,0,0,0.1);
}

/* Site Formatting */

.section-width {
    max-width: 85%;
    min-width: 250px;
    padding: 20px

}

.section-headers {
    padding: 10px;
    font-size: 50px;
    margin: 0px;
}

/* Knowledge Section */

.knowledge-box {
    max-width: 475px;
    min-width: 250px;
    
}

.skills-square {
    padding: 10px;
    background-color: white;
}

.skills-square-icons {
    max-width: 60px;
}

/* Project Section */

project-section {
    max-width: 800px;
}

.row-formatting {
    row-gap: 20px;
}

.project-image-size {
    max-width: 600px;
}

.project-text-section-size{
    min-width: 300px;
    max-width: 600px;
}

.project-titles {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .col-md-1_5 {
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}