@{
    ViewData["Title"] = "Home Page";
}

<!-- Primary area that I will be writing my HTML -->
<div class="full-screen-div" style="background-color: lightblue; min-height: 100vh;">
    <div class="text-center">
        <h1 class="display-4">Home screen here</h1>
    </div>
</div>

<div style="background-color: indianred; min-height: 100vh;">
    <div class="container d-flex justify-content-center align-items-center" style="background-color: lightcyan; width: 70%; min-height: 100vh;">
        <h1 class="display-4">Knowledge here</h1>
    </div>
</div>


<div style="width: 100%; background-color: lightgreen; min-height: 200vh;">
    <div class="text-center">
        <h1 class="display-4">Projects go here</h1>
    </div>
</div>

<div style="width: 100%; background-color: lightyellow; min-height: 100vh;">
    <div class="text-center">
        <h1 class="display-4">Contact me here</h1>
    </div>
</div>