@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <partial name="_CaptchaScripts"></partial>
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<!-- Primary area that I will be writing my HTML -->
<div style="background-color: lightblue; padding-top: 100px;">

    <div style="z-index: 2; position: absolute; top: 100px; left: 40px;">
        <h1 class="font-weight-bold name-title" style="animation: textSlideTitles 1.8s;">Samuel Cole</h1>
        <h2 class="font-weight-bold profession-title " style="animation: textSlideTitles 3s;">Front End Developer</h2>
    </div>

    <div class="row h-100" style="z-index: 2;">

        <div class="col-6" style="height: 100%;">

            <div class="row">
                <div class="col-12 center-images-formatting">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid mx-auto custom-image random-padding" alt="Responsive Image" style="animation: opacityThree 3s infinite alternate; animation-delay: 2s;" />
                </div>
            </div>

            <div class="row">
                <div class="col-6 center-images-formatting">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid medium-displays mx-auto random-padding" alt="Responsive Image" style="animation: opacityThree 4s infinite alternate; animation-delay: 1s;" />
                </div>

                <div class="col-6 center-images-formatting">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid medium-displays mx-auto random-padding" alt="Responsive Image" style="animation: opacityTwo 2s infinite alternate; animation-delay: 3s;" />
                </div>
            </div>

            <div class="row">
                <div class="col-4 center-images-formatting">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid small-displays mx-auto random-padding" alt="Responsive Image" style="animation: opacityTwo 3s infinite alternate; animation-delay: 1s;" />
                </div>

                <div class="col-4 center-images-formatting">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid small-displays mx-auto random-padding" alt="Responsive Image" style="animation: opacityThree 2s infinite alternate; animation-delay: 2s;" />
                </div>

                <div class="col-4 center-images-formatting">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid small-displays mx-auto random-padding" alt="Responsive Image" style="animation: opacityOne 2s infinite alternate; animation-delay: 3s;" />
                </div>
            </div>

            <div class="row">
                <div class="col-6 center-images-formatting">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid medium-displays mx-auto random-padding" alt="Responsive Image" style="animation: opacityOne 3s infinite alternate; animation-delay: 1s;" />
                </div>

                <div class="col-6 center-images-formatting">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid medium-displays mx-auto random-padding" alt="Responsive Image" style="animation: opacityTwo 2s infinite alternate; animation-delay: 3s;" />
                </div>
            </div>

            <div class="row">
                <div class="col-12 center-images-formatting">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid large-displays mx-auto random-padding" alt="Responsive Image" style="animation: opacityOne 3s infinite alternate; animation-delay: 2s;" />
                </div>
            </div>

        </div>



        <div class="col-6" style="height: 100%;">

            <div class="row">
                <div class="col-md-12 center-images-formatting order-sm-2" style="padding-top: 20px;">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid left-side-custom-image mx-auto" alt="Responsive Image" style="animation: opacityOne 3s infinite alternate; animation-delay: 2s;" />
                </div>

                <div class="col-md-12 order-sm-1" style="z-index: 2;">
                    <div class="row">

                        <div class="col-12 center-text-formatting" style="height: 100%; animation: textSlide 1.2s;">
                            <div class="skills-title">My Skills:</div>
                        </div>

                        <div class="col-12 center-text-formatting" style="height: 100%; animation: textSlide 1.5s; ">
                            <div class="skill">Javascript</div>
                        </div>

                        <div class="col-12 center-text-formatting" style="height: 100%; animation: textSlide 1.8s;">
                            <div class="skill">C#</div>
                        </div>

                        <div class="col-12 center-text-formatting" style="height: 100%; animation: textSlide 2.1s;">
                            <div class="skill">HTML</div>
                        </div>

                        <div class="col-12 center-text-formatting" style="height: 100%; animation: textSlide 2.4s;">
                            <div class="skill">CSS</div>
                        </div>

                        <div class="col-12 center-text-formatting" style="height: 100%; animation: textSlide 2.7s;">
                            <div class="skill">.NET</div>
                        </div>

                        <div class="col-12 center-text-formatting" style="height: 100%; animation: textSlide 3s;">
                            <div class="skill">NodeJS</div>
                        </div>

                        <div class="col-12 center-text-formatting" style="height: 100%; animation: textSlide 3.3s;">
                            <div class="skill">MongoDB</div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

        
    </div>

</div>

<!-- Knowledge Section-->

<section style="background-color: var(--blue);">

    <div class="container section-width align-items-center text-lg-left" style="background-color: var(--blue);">
        <h3 class="section-headers" style="color: white">Knowledge</h3>
    </div>

    <div class="container section-width d-flex justify-content-center align-items-center" style="background-color: var(--blue); padding-bottom: 50px; font-size: 24px;" >
        <p class="text-color">
            Think of websites as human bodies – each section plays a specific role, just like different parts of the body. Seeing websites in this light makes it easier to navigate and 
            design each part successfully. It's like understanding the anatomy of a website!
        </p>
    </div>


    <div class="container section-width d-flex justify-content-center align-items-center" style="background-color: var(--blue); padding-bottom: 100px;">

         <div class="row justify-content-center">

            <div class="col-md-4 col-sm-12 knowledge-box-container bottom-border">
                    
                        <div class="row justify-content-center align-items-center knowledge-block">
                        
                                <div class="col-lg-12">
                                    <img src="/Assets/images/SVGs/responsive-svgrepo-com.svg" class="img-fluid" alt="Responsive Image" />
                                </div>

                                <div class="col-lg-12">
                                    <h1 class="text-color">Front End</h1>
                                </div>

                                <div class="col-lg-12">

                                    <p class="text-color">
                                        Front-End is like the face of your website, shaping its appearance and handling user interactions. Think of CSS, Javascript, and 
                                        smart website design as the stylish clothes and a great hairstyle – they're what make your website look and feel fantastic.
                                     </p>
                                
                                 </div>

                                 <div class="col-lg-12" style="padding-bottom: 10px;">
                                    <h1 class="text-color">My Skills:</h1>
                                </div>

                    
                                <div class="col-lg-12">

                                    <div class="row">
                                        <div class="col-3">
                                            <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                        </div>

                                        <div class="col-3">
                                            <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                        </div>

                                        <div class="col-3">
                                            <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                        </div>
                                    </div>

                                </div>      
                   
                        </div>
                    </div>

            <div class="col-md-4 col-sm-12 knowledge-box-container middle-border bottom-border">

                <div class="row justify-content-center align-items-center knowledge-block">

                                <div class="col-lg-12">
                                    <img src="/Assets/images/SVGs/responsive-svgrepo-com.svg" class="img-fluid" alt="Responsive Image" />
                                </div>

                                <div class="col-lg-12">
                                    <h1 class="text-color">Back-End</h1>
                                </div>

                                <div class="col-lg-12">
                                    <p class="text-color">
                                        Back-End serves as the heart and brain of your website, managing and powering everything you see. Website security acts as the immune system, 
                                        ensuring a safe and secure environment. The brain, represented by controllers, ensures seamless connections and smooth navigation to where you need to go!
                                    </p>
                                </div>

                                <div class="col-lg-12" style="padding-bottom: 10px;">
                                    <h1 class="text-color">My Skills:</h1>
                                </div>

                                <div class="col-lg-12">

                                    <div class="row">
                                        <div class="col-3">
                                            <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                        </div>

                                        <div class="col-3">
                                            <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                        </div>

                                        <div class="col-3">
                                            <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

            <div class="col-md-4 col-sm-12 knowledge-box-container">

                <div class="row justify-content-center align-items-center knowledge-block">

                                <div class="col-lg-12">
                                    <img src="/Assets/images/SVGs/responsive-svgrepo-com.svg" class="img-fluid" alt="Responsive Image" />
                                </div>

                                <div class="col-lg-12">
                                    <h1 class="text-color" >Other Skills</h1>
                                </div>

                                <div class="col-lg-12">
                                    <p class="text-color">
                                        Other skills in coding are akin to additional features in a person: social skills, general interactions, etc. They encompass frameworks, code editors, 
                                        or handy tools that make coding easier, more efficient, or interconnected across multiple devices. It's like having those extra traits that enhance your 
                                        overall coding experience!
                                    </p>
                                </div>

                                <div class="col-lg-12" style="padding-bottom: 10px;">
                                    <h1 class="text-color">My Skills:</h1>
                                </div>

                                <div class="col-lg-12">

                                    <div class="row">
                                        <div class="col-3">
                                            <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                        </div>

                                        <div class="col-3">
                                            <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                        </div>

                                        <div class="col-3">
                                            <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                    </div>
            
         </div>
           
    </div>

</section>

<!-- Projects Section-->

<div style="width: 100%; background-color: white;">

    <div class="container section-width align-items-center text-lg-left" style="background-color: white;">
        <h3 class="section-headers" style="color: var(--blue)">Projects</h3>
    </div>

    <div class="container section-width" style="background-color: white;">
    
        <div class="container-fluid">

            <div class="project-block-formatting project-block-margins" style=" border-bottom: 2px solid var(--blue);">
                <div class="row row-formatting">

                    <div class="section col-md-6 margin-remover">

                        <div class="project-image-size top-image" id="project-images">
                            <img class="img-fluid image-styles rotate-top" src="/Assets/images/Placeholders/amogus.jpg" id="top-image">
                        </div>

                        <div class="project-image-size bottom-image" id="project-images">
                            <img class="img-fluid image-styles rotate-bottom" src="/Assets/images/Placeholders/pepe.jpg" id="bottom-image">
                        </div>
                        
                    </div>

                    <div class="section col-md-6 margin-remover">
                        <div class="project-text-section-size" style="background-color: white; margin-left: auto">
                            <div class="project-titles">
                                <h1 class="h1 project-titles">My Portfolio Website</h1>
                                <p class="project-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                </p>
                            </div>
                            <h1 class="h1 technology-titles">Technology</h1>

                                <div class="row">
                                    <div class="col-2 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                    <div class="col-2 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                    <div class="col-2 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                    <div class="col-2 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
           </div>

            <div class="project-block-formatting project-block-margins" style="border-bottom: 2px solid var(--blue);">
                <div class="row row-formatting" >
                
                    <div class="section col-md-6 order-2 order-md-1 margin-remover">
                        <div class=" project-text-section-size" style="background-color: white;">
                            <div class="project-titles">
                                <h1 class="h1 project-titles">Project Title</h1>
                                <p class="project-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                </p>
                            </div>
                            <h1 class="h1 technology-titles">Technology</h1>
                                <div class="row">
                                    <div class="col-3 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                    <div class="col-3 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                    <div class="col-3 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                    <div class="col-3 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="section col-md-6 order-1 order-md-2 margin-remover">
                        <div class="project-image-size" style="margin-left: auto">

                            <div class="project-image-size top-image" id="project-images">
                                <img class="img-fluid image-styles rotate-top" src="/Assets/images/Placeholders/amogus.jpg" id="top-image">
                            </div>

                            <div class="project-image-size bottom-image" id="project-images">
                                <img class="img-fluid image-styles rotate-bottom" src="/Assets/images/Placeholders/pepe.jpg" id="bottom-image">
                            </div>
                        
                        </div>
                    </div>
                </div>
           </div>

            <div class="project-block-formatting" >
                <div class="row row-formatting">

                    <div class="section col-md-6 margin-remover">

                        <div class="project-image-size top-image" id="project-images">
                            <img class="img-fluid image-styles rotate-top" src="/Assets/images/Placeholders/amogus.jpg" id="top-image">
                        </div>

                        <div class="project-image-size bottom-image" id="project-images">
                            <img class="img-fluid image-styles rotate-bottom" src="/Assets/images/Placeholders/pepe.jpg" id="bottom-image">
                        </div>

                    </div>

                    <div class="section col-md-6 margin-remover">
                        <div class=" project-text-section-size" style="background-color: white; margin-left: auto">
                            <div class="project-titles">
                                <h1 class="h1 project-titles">Project Title</h1>
                                <p class="project-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                </p>
                            </div>
                            <h1 class="h1 technology-titles">Technology</h1>
                                <div class="row">
                                    <div class="col-3 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                    <div class="col-3 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                    <div class="col-3 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                    <div class="col-3 col-md-1_5">
                                        <img src="/Assets/images/SVGs/java.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                </div>
                        </div>
                    </div>
           
                </div>
        
           </div>

        </div>
    
    </div>

</div>

<!-- Test comment to see if its working-->

<!-- About Me Section-->

<div style="width: 100%; background-color: var(--blue);">

    <div class="container section-width align-items-center text-lg-left text-color" style="background-color: var(--blue)">
        <h3 class="section-headers">About Me</h3>
    </div>

    <div class="container-fluid section-width d-flex justify-content-center align-items-center" style="background-color: var(--blue); padding: 20px;">

        <div class="row" style="margin-bottom: 40px;">

            <div class="col-md-6 text-color" style="margin-bottom: 40px; font-size: 20px;">
                <p>
                    Greetings! I'm Sam, a full-stack web developer based in the UK. Drawing from my background in animation, I infuse creativity and deliver unique programming solutions in my work. 
                    With a year of self-taught experience, I've crafted various websites, spanning from straightforward to fully functional SPAs incorporating multiple CRUD operations.
                </p>
            </div>

            <div class="col-md-6" style="padding-right: 10px;">

                <div class="row button-section">

                    <div class="col-12 button-styles" >
                        <a href="https://github.com/Sam89001" target="_blank">
                            <div class="row">

                                <div class="d-flex col-3" >
                                    <div style="padding: 5px;">
                                        <img src="/Assets/images/SVGs/github.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                </div>

                                <div class="d-flex col-6" style="padding: 10px">
                                    <div class="container" style="max-width: 220px; margin-left: 15px;">
                                        <p class="d-flex about-me-text">Code Samples on Github</p>
                                    </div>
                                </div>

                                <div class="d-flex col-3" >
                                    <div style="padding: 5px;">
                                        <img src="/Assets/images/SVGs/github.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>

                    <div class="col-12 button-styles">
                        <a href="https://www.linkedin.com/in/samuel-cole-586582229/" target="_blank">
                            <div class="row">

                                <div class="d-flex col-3">
                                    <div style="padding: 5px;">
                                        <img src="/Assets/images/SVGs/github.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                </div>

                                <div class="d-flex col-6" style="padding: 10px">
                                    <div class="container" style="max-width: 220px; margin-left: 15px;">
                                        <p class="d-flex about-me-text">Linked In Page</p>
                                    </div>
                                </div>

                                <div class="d-flex col-3">
                                    <div style="padding: 5px;">
                                        <img src="/Assets/images/SVGs/github.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>

                    <div class="col-12 button-styles">
                        
                            <div class="row">

                                <div class="d-flex col-3">
                                    <div style="padding: 5px;">
                                        <img src="/Assets/images/SVGs/github.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                </div>

                                <div class="d-flex col-6" style="padding: 10px">
                                    <div class="container" style="max-width: 220px; margin-left: 15px;">
                                        <p class="d-flex about-me-text">Download CV</p>
                                    </div>
                                </div>

                                <div class="d-flex col-3" >
                                    <div style="padding: 5px;">
                                        <img src="/Assets/images/SVGs/github.svg" class="img-fluid" alt="Responsive Image" />
                                    </div>
                                </div>

                            
                            </div>
                    </div>

                    <div class="col-12 button-styles">

                        <!-- code wars score here using codewars API-->
                    </div>

                </div>

            </div>


        </div>

    </div>
</div>

<!-- Contact Section -->

<div style="width: 100%; background-color: white;">
    
    <div class="container section-width align-items-center text-lg-left" style="background-color: white;">
        <h3 class="section-headers" style="color: var(--blue)">Contact</h3>
    </div>
    
    <div class="container-fluid section-width d-flex " style="background-color: white; padding-bottom: 100px;">
        <div class="container-fluid" style="width: 100%;">

            <div class="row no-gutters" >

                <div class="col-md-6 custom-col custom-col-md-6" style="padding: 40px; margin-bottom: 80px;">

                    <div >

                        <form id="sendEmailForm" method="post" asp-action="SendEmail">

                            <input class="field" id="nameInput" name="Name" placeholder="Name" />

                            <input class="field" id="emailInput" name="Email" placeholder="Email" type="email" />
                            
                            <textarea class="message" id="queryInput" placeholder="Enquiry" name="Query"></textarea>

                            <div class="d-flex" style="width: 100%;">
                                <input class="checkbox" type="checkbox" name="mailing-list" id="checkboxInput" required />
                                <label class="checkbox-text" for="mailing-list" >Tick this box to confirm you consent to be added to a mailing list.</label>
                            </div>

                            <div class="d-flex" style="width: 100%;">
                              
                                <input class="g-recaptcha button"
                                       data-sitekey="@Configuration["GoogleReCaptcha:SiteKey"]"
                                       data-callback='onSubmit'
                                       data-action='submit'
                                       onclick="validateEmail()"
                                       type="submit" placeholder="Query" value="Send Email" />

                                
                                    <div class="d-flex ms-auto">
                                        <img src="/Assets/images/SVGs/github.svg" class="img-fluid" alt="Responsive Image" style="max-height: 45px;" />
                                        <img src="/Assets/images/SVGs/github.svg" class="img-fluid" alt="Responsive Image" style="max-height: 45px; padding-left: 20px;" />
                                    </div>

                            </div>

                        </form>

                    </div>

                </div>

                <div class="col-md-6 custom-col custom-col-md-6" style="padding: 40px;">
                    <img src="/Assets/images/SVGs/SC.svg" class="img-fluid" alt="Responsive Image" />
                </div>

            </div>

        </div>

    </div>

</div>







