<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioProjectMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioProjectMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white navbar-styles">

            <div class="d-flex navbar-logo-layout" >
                <img src="/Assets/images/SVGs/SC.svg" style="height: 35px; padding: 0px;">
                <div class="d-flex">
                    <a class="font-weight-bold" style="font-size: 25px; color: var(--blue)" asp-area="" asp-controller="Home" asp-action="Index">Samuel Cole</a>
                </div>
                <div class="d-flex title-for-hiding" style="font-size: 25px; color: var(--grey)">Front-End Developer</div>
            </div>

            <div class="navbar-logo-layout" >
                <img src="/Assets/images/icons8-github-500.svg" alt="GitHub" width="75" style="height: 35px; padding: 0px;">
                <img src="/Assets/images/icons8-linkedin-512.svg" alt="LinkedIn" width="75" style="height: 35px; padding: 0px;">
            </div>
                   
        </nav>

    </header>

    <div style= " border: none;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Samuel Cole's Portfolio - Icons by <a href="https://icons8.com/">Icons8</a>
        </div>
    </footer>

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
