<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioProjectMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animations.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/popups.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioProjectMVC.styles.css" asp-append-version="true" />
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white navbar-styles">
            <div class="d-flex container navbar-formatting" style="justify-content: space-between; flex-wrap: nowrap;">

                <div class="d-flex" style="justify-content: flex-start; align-items: center;">

                    <a href="https://github.com/Sam89001" target="_blank">
                        <img src="/Assets/images/SVGs/linkedin-blue.svg" alt="GitHub" style="max-height: 50px; max-width: 50px; padding: 0px;">
                    </a>

                </div>

                <div class="d-flex" style="justify-content: flex-start; align-items: center;">
                    <a href="https://github.com/Sam89001" target="_blank">
                        <img src="/Assets/images/SVGs/github-blue.svg" alt="GitHub" style="max-height: 50px; max-width: 50px; padding: 0px;">
                    </a>

                    <a href="https://www.linkedin.com/in/samuel-cole-586582229/" target="_blank">
                        <img src="/Assets/images/SVGs/linkedin-blue.svg" alt="Linked In" style="max-height: 50px; max-width: 50px; padding: 0px;">
                    </a>

                </div>
            </div>
        </nav>




    </header>

    <div style= " border: none;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: var(--blue)">
        <div class="container">
            Icons by <a href="https://icons8.com/" target="_blank">Icons8</a> & <a href="https://www.svgrepo.com/" target="_blank">SVG Repo</a>
        </div>
    </footer>


   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>
